<header class="site-header">
  <div class="wrapper" style="display: flex; justify-content: space-between; align-items: center; max-width: 100%; padding: 0 20px;">
    <a class="site-title" rel="author" href="{{ '/' | relative_url }}">{{ site.title | escape }}</a>

    <nav class="site-nav" style="display: flex; align-items: center;">
      <div class="trigger" style="display: flex; align-items: center;">
        {%- for path in site.minima.nav_pages -%}
          {%- assign my_page = site.pages | where: "path", path | first -%}
          {%- if my_page.title -%}
          <a class="page-link" href="{{ my_page.url | relative_url }}" style="margin-right: 15px;">{{ my_page.title | escape }}</a>
          {%- endif -%}
        {%- endfor -%}
        
        <button id="theme-toggle" aria-label="Alternar tema">
          <i class="fas fa-moon"></i>
        </button>
      </div>
    </nav>
  </div>
</header>
